{% extends'AcceuilBundle::backLayout.html.twig' %}

{% block titre %} Utilisateurs  {% endblock %}

{% block body %}
    <div class="main-grid">
        <div class="agile-grids">
            <!-- tables -->

            <div class="table-heading">
                <h2>Utilisateurs</h2>
            </div>
            <div class="agile-tables">
                <div class="w3l-table-info">
                    <h3>clients</h3>
                    <table id="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>mail</th>
                            <th>date_Naissance</th>
                            <th>contact</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>025DS89</td>
                            <td>mohamed</td>
                            <td>marc</td>
                            <td>nuior@gmail.com</td>
                            <td>04/12/1995</td>
                            <td>8945698456</td>
                        </tr>
                        <tr>
                            <td>0785DS89</td>
                            <td>biedeg</td>
                            <td>jean</td>
                            <td>ngiho@gmail.com</td>
                            <td>14/12/1994</td>
                            <td>8945602556</td>
                        </tr>
                        <tr>
                            <td>025DOPK85</td>
                            <td>hammed</td>
                            <td>paul</td>
                            <td>paul@gmail.com</td>
                            <td>05/12/1988</td>
                            <td>78698456</td>
                        </tr>
                        <tr>
                            <td>AE852S89</td>
                            <td>momm</td>
                            <td>henry</td>
                            <td>henry@gmail.com</td>
                            <td>04/11/1995</td>
                            <td>8945698456</td>
                        </tr>
                        <tr>
                            <td>025DS89</td>
                            <td>mohamed</td>
                            <td>marc</td>
                            <td>nuior@gmail.com</td>
                            <td>04/12/1995</td>
                            <td>8945698456</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
               <br>   <br>

                <h3>Responsable</h3>
                <table id="table-breakpoint">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>mail</th>
                        <th>date_Naissance</th>
                        <th>contact</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>AE852S89</td>
                        <td>momm</td>
                        <td>henry</td>
                        <td>henry@gmail.com</td>
                        <td>04/11/1995</td>
                        <td>8945698456</td>
                    </tr>
                    <tr>
                        <td>025DS89</td>
                        <td>mohamed</td>
                        <td>marc</td>
                        <td>nuior@gmail.com</td>
                        <td>04/12/1995</td>
                        <td>8945698456</td>
                    </tr>
                    <tr>
                        <td>025DOPK85</td>
                        <td>hammed</td>
                        <td>paul</td>
                        <td>paul@gmail.com</td>
                        <td>05/12/1988</td>
                        <td>78698456</td>
                    </tr>
                    <tr>
                        <td>AE852S89</td>
                        <td>momm</td>
                        <td>henry</td>
                        <td>henry@gmail.com</td>
                        <td>04/11/1995</td>
                        <td>8945698456</td>
                    </tr>
                    <tr>
                        <td>025DOPK85</td>
                        <td>hammed</td>
                        <td>paul</td>
                        <td>paul@gmail.com</td>
                        <td>05/12/1988</td>
                        <td>78698456</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

{% endblock %}